.footer {
    width: 100%;
    height: 275px;
    background-color: var(--color-blue-1-opacity-5);
}

.footer__content {
    max-width: 510px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer__logo {
    position: relative;
    top: 4px;
    left: 2px;
    user-select: none;
}

.footer__rights {
    margin-top: 25px;
    color: var(--color-text);
    font-size: 14px;
    text-align: center;
}

@media (max-width: 767px) {
    .footer {
        height: 75px;
    }

    .footer__content {
        gap: 0;
    }

    .footer__logo-image {
        display: none;
    }
    
    .footer__rights {
        margin-top: 0;
    }
}