.header {
    width: 100%;
    height: 70px;
    background-color: var(--color-main);
}

.header__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    top: 4px;
    left: 2px;
    user-select: none;
}

.header-navigation {
    display: flex;
    gap: 40px;
}

.header-navigation__link {
    color: var(--color-text);
}

.header-navigation__link:hover {
    color: var(--color-blue-1);
    text-decoration: underline;
}

.header-navigation__link:last-child {
    position: relative;
    padding-left: 1em;
    color: var(--color-blue-1);
}

.header-navigation__link:last-child:active {
    color: var(--color-blue-3);
}

.header-navigation__link:last-child::before {
    content: "";
    position: absolute;
    left: -0.25em;
    width: 1em;
    height: 1em;
    background-image: url(../images/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.header-navigation__link:last-child:active::before {
    background-image: url(../images/phone-active.svg);
}