.navigation {
    display: flex;
    align-items: center;
}

.navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.navigation__link:hover, .navigation__link.active {
    color: var(--color-blue-1);
    text-decoration: underline;
}

.navigation__link:nth-child(5) {
    position: relative;
    padding-left: 1em;
    color: var(--color-blue-1);
    cursor: pointer;
}

.navigation__link:nth-child(5):active {
    color: var(--color-blue-3);
}

.navigation__link:nth-child(5)::before {
    content: "";
    position: absolute;
    left: -0.25em;
    width: 1em;
    height: 1em;
    background-image: url(../images/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.navigation__link:nth-child(5):active::before {
    background-image: url(../images/phone-active.svg);
}

@media (max-width: 767px) {
    .navigation--footer {
        display: none;  
    }

    .navigation--header {
        position: absolute;
        top: -160px;
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0 !important;
        transition: transform 0.3s;
        z-index: -1;
    }

    .navigation--active {
        transform: translate(0, 210px);
    }

    .navigation__link {
        width: 100%;
        height: 40px;
        background-color: var(--color-main);
    }

    .navigation__link:nth-child(5) {
        display: none;
    }
}